
.navbar-form .form-control{
  width:21em;
}

.search-box input{
  margin-top: -.9em;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0; 
}

.search-box button{
  margin-top: -.8em;
  margin-left: -.5em;
  color: #345DBB;
  border: 1px solid;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0; 
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}

.lead{
  
}

.panel-heading{
  height: 3em;
}

.panel-heading h4{
  /*margin-left: 30%;*/
  margin-top: 0;
}

.caption p{
  margin-bottom: 0;
  font-size: 1em;
}

.thumbnail{
  margin-top: 2em; 
  max-height: 430px;
  min-height: 430px;
  margin-bottom: 0;
}
